<td >
  <% if tweet.retweet_flag? %>
    <button class="btn btn-info m-2 flag-btn" disabled >リツイート済</button>
  <% end %>
  <% if tweet.tweet_flag? %>
    <button class="btn btn-warning m-2 flag-btn" disabled>再投稿済</button>
  <% end %>
</td>