<td class="t-column">
  <% if tweet.retweet_flag? %>
    <div><span class="badge badge-info">リツイート済</span></div>
  <% end %>
  <% if tweet.tweet_flag? %>
    <div><span class="badge badge-warning">リツイート済</span></div> 
  <% end %>
</td>