@import "bootstrap/scss/bootstrap";
// 共通部分



table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
    // リツイートボタンと再投稿ボタンの大きさ統一
    .flag-btn {
      width: 120px;
      height: 50px;
      font-size: small;
    }
  }
// ナビゲーションメニュー
.navbar-dark .navbar-nav .nav-link{
  color: #ffffff;
}
// ツイート一覧テーブル
.table_index{
  // テーブルヘッダーを固定
  thead,
  tbody {
    display: inline-block;
  }
  tbody {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 600px;
  }
  th,
  td {
    width: 150px;
    min-width: 150px;
      .media_row {
        width: 100px;
        height: 100px;
      }
      .tweet_media {
        width: 50px;
        height: 50px;
      }
  }
  td{
    height: 120px;
  }
  // テキスト長文時、省略表示
  .box-read {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 0;
  }
}

// ツイート詳細ページ
.table-show{
  width:80%;
  th{
    width:20%;
    background-color: lightgray;;
  }
  .show_media_row{
    height:100px;
  }
  .show_tweet_media {
    width: 80px;
    height: 80px;
  }
}

// 検索テーブル
.table_search{

  th {
    background-color: lightgray;
  }

}
