@import "bootstrap/scss/bootstrap";
// 共通部分
// リンク色消す
.Editlink {
  text-decoration: none;
  color:black;
  &:hover {
    text-decoration: none;
    color: black  }
}
table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;

    // リツイートボタンと再投稿ボタンの大きさ統一
    .flag-btn {
      width: 120px;
      height: 30px;
      font-size: small;
    }
    .flag-btn-add-date {
      width: 300px;
      height: 50px;
      font-size: small;
    }
  }
// ナビゲーションメニュー
.navbar-dark .navbar-nav .nav-link{
  color: #ffffff;
}

// ツイート一覧ページ
.pagination {
  justify-content: center;
}
// ツイート表示テーブル
.table_index{
  // テーブルヘッダーを固定

  thead,
  tbody {
    display: inline-block;
    width: 100%;
  }
  tbody {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 600px;
  }
  .table-title{
    // white-space: nowrap;
     width:10%;
  }
  th,
  td {
    // width: 100%;
    // min-width: 150px;
      .media_row {
        width: 100px;
        height: 100px;
      }
      .tweet_media {
        width: 50px;
        height: 50px;
      }
  }

  td{
    height: 80px;
  }
  .text{
    width:30%;
  }
  .day{
    width:15%;
  
  }
  .t-column{
    width:10%;
    white-space: nowrap;
  }
  // テキスト長文時、省略表示
  .box-read {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 0;
    text-align: left;
  }
  .btn-success{
    width:90%;
  }

}
// 検索テーブル
.table_search {
text-align: left;
  th {
    background-color:rgba(0, 0, 0, 0.05);
    vertical-align: middle;
    text-align: left; 
  }
.search_btn{
  width: 20px;
  background-color:rgba(0, 0, 0, 0.05);
  .btn-primary{
    width: 100%; 
  }
}
}
// ツイート詳細ページ
.table-show{
  width:80%;
  th{
    width:20%;
    background-color: lightgray;;
  }
  .show_media_row{
    height:100px;
  }
}

.show_tweet_media {
  width: 80px;
  height: 80px;
}
// 再投稿モーダル
.mordal-image{
  width:150px;
  height:150px;
}

// ツイート取得ページ
.tweet_save_form{
  max-width: 500px;
  .show-api-count {
    background-color: #ffffff;
    padding-top: 200px;
  }

}
